<div class="heading-panel">
  <div class="container">
    <div class="contact-info pull-xs-left">
      <a href="callto:#">
        <span class="icon icon-xs icon-primary fa-phone"></span>
        + 4 (8056)  0000 1756
      </a>
    </div>
    <ul class="inline-list pull-xs-right">
      <li><a href="#" class="icon icon-xs icon-default fa-facebook"></a></li>
      <li><a href="#" class="icon icon-xs icon-default fa-twitter"></a></li>
      <li><a href="#" class="icon icon-xs icon-default fa-google-plus"></a></li>
      <li><a href="#" class="icon icon-xs icon-default fa-pinterest"></a></li>
    </ul>
  </div>
</div>

<div id="stuck_container" class="stuck_container">
  <div class="container">

    <nav class="navbar navbar-default navbar-static-top ">

      <div class="navbar-header">
        <h1 class="navbar-brand">
          <a href="./">
            <span class="navbar-brand__icon fa-paper-plane"></span>
            Peace
          </a>
        </h1>
      </div>

      <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
        <li class="{{menuActive menu "index"}}">
          <a href="/index.html">Accueil</a>
        </li>

        <li class="dropdown {{menuActive menu "le-groupe"}}">
          <a href="#">Le Groupe</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/qui-sommes-nous.html">Qui&nbsp;sommes-nous&nbsp;?</a>
            </li>
            <li>
              <a href="/nos-poles.html">Nos pôles</a>
            </li>
            <li>
              <a href="/historique.html">Historique</a>
            </li>
            <li>
              <a href="/infographie.html">Infographie</a>
            </li>
            <li>
              <a href="/implantations.html">Implantations</a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown {{menuActive menu "nos-metiers"}}">
          <a href="#">Nos Métiers</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/travaux.html">Travaux</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/axel-duval.html">Axel Duval</a>
                </li>
                <li>
                  <a href="/axel-sud.html">Axel Sud</a>
                </li>
                <li>
                  <a href="/select-civil.html">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/location.html">Location</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/morel.html">Morel</a>
                </li>
                <li>
                  <a href="/terre-net.html">Terre-net</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/services.html">Services</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/akela-interim.html">Akela Interim</a>
                </li>
                <li>
                  <a href="/brein-transport.html">Brein Transport</a>
                </li>
                <li>
                  <a href="/maintenance-service.html">Maintenance&nbsp;Service</a>
                </li>
                <li>
                  <a href="/marcel-equipment-limited.html">Marcel Equipment Limited</a>
                </li>
                <li>
                  <a href="/poisson-formation.html">Poisson Formation</a>
                </li>
                <li>
                  <a href="/terre-durable.html">Terre-durable</a>
                </li>
                <li>
                  <a href="/sndm.html">SNDM</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="{{menuActive menu "actualites"}}">
          <a href="/toutes-nos-actualites.html">Actualités</a>
        </li>

        <li class="dropdown {{menuActive menu "recrutement"}}">
          <a href="/rejoignez-nous.html">Recrutement</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/rejoignez-nous.html">Rejoignez-nous</a>
            </li>
            <li>
              <a href="/nos-offres-emplois.html">Nos offres d'emplois</a>
            </li>
          </ul>
        </li>


        <li class="{{menuActive menu "contact"}}">
          <a href="/nous-contacter.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>