<div class="heading-panel">
  <div class="container">
    <div class="contact-info pull-xs-left">
    </div>
    <ul class="inline-list pull-xs-right">
      <li><a href="https://facebook.com/Groupe-Poisson-413266462212509/" target="_blank" class="icon icon-xs icon-default fa-facebook"></a></li>
      <li><a href="https://www.youtube.com/channel/UCxGG67ph3Ihlzhm9UR5FUYQ" target="_blank" class="icon icon-xs icon-default fa-youtube-play"></a></li>
      <li><a href="https://www.linkedin.com/in/groupepoisson" target="_blank" class="icon icon-xs icon-default fa-linkedin"></a></li>
    </ul>
  </div>
</div>

<div id="stuck_container" class="stuck_container">
  <div class="container">

    <nav class="navbar navbar-default navbar-static-top ">

      <div class="navbar-header">
        <h1 class="navbar-brand">
          <a href="/">
            <span class="navbar-brand__icon navbar-brand__logo-groupe-poisson"></span>
          </a>
        </h1>
      </div>

      <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
        <li class="{{menuActive menu "index"}}">
          <a href="/index.html">Accueil</a>
        </li>

        <li class="dropdown {{menuActive menu "le-groupe"}}">
          <a href="/le-groupe.html">Le Groupe</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/le-groupe.html#qui-sommes-nous">Qui&nbsp;sommes-nous&nbsp;?</a>
            </li>
            <li>
              <a href="/le-groupe.html#nos-poles">Nos pôles</a>
            </li>
            <li>
              <a href="/le-groupe.html#historique">Historique</a>
            </li>
            <li>
              <a href="/le-groupe.html#infographie">Infographie</a>
            </li>
            <li>
              <a href="/le-groupe.html#implantations">Implantations</a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown {{menuActive menu "nos-metiers"}}">
          <a href="#">Nos Métiers</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/travaux.html">Travaux</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/travaux.html#axel-duval">Axel Duval</a>
                </li>
                <li>
                  <a href="/travaux.html#axel-sud">Axel Sud</a>
                </li>
                <li>
                  <a href="/travaux.html#select-civil">Select Civil</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/location.html">Location</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/location.html#morel">Morel</a>
                </li>
                <li>
                  <a href="/location.html#terre-net">Terre-net</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/services.html">Services</a>
              <ul class="dropdown-menu submenu">
                <li>
                  <a href="/services.html#akela-interim">Akela Interim</a>
                </li>
                <li>
                  <a href="/services.html#brein-transport">Brein Transport</a>
                </li>
                <li>
                  <a href="/services.html#maintenance-service">Maintenance&nbsp;Service</a>
                </li>
                <li>
                  <a href="/services.html#marcel-equipment-limited">Marcel Equipment Limited</a>
                </li>
                <li>
                  <a href="/services.html#poisson-formation">Poisson Formation</a>
                </li>
                <li>
                  <a href="/services.html#terre-durable">Terre-durable</a>
                </li>
                <li>
                  <a href="/services.html#sndm">SNDM</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="{{menuActive menu "actualites"}}">
          <a href="/toutes-nos-actualites.html">Actualités</a>
        </li>

        <li class="dropdown {{menuActive menu "recrutement"}}">
          <a href="/recrutement.html">Recrutement</a>
          <ul class="dropdown-menu">
            <li>
              <a href="/recrutement.html">Rejoignez-nous</a>
            </li>
            <li>
              <a href="/offres-emploi.html">Nos offres d'emplois</a>
            </li>
          </ul>
        </li>


        <li class="{{menuActive menu "contact"}}">
          <a href="/nous-contacter.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>